@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(11, 103, 146);
}
header{
    padding: 20px;
}
header>h1{
    text-align: center;
    color: rgb(255, 255, 255);
}
main{
    background-color: rgb(229, 226, 226);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    max-width: 600px;
    min-width: 280px;
    max-height: 800px;
    min-height: 280px;
    box-shadow: 8px 8px 13px rgba(141, 136, 136, 0.239);
}
input#pow{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main>div{
    text-align: center;
    padding: 10px;
}
main>p{
    text-align: center;
    padding-bottom: 20px;
    font-size:x-large ;
}
main>div>p{
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
select{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 200px;
   
}
footer>p{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
}
